* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1170px;
}

.container-fluid {
  width: 100%;
}

.grid {
  display: grid;
}

.article {
  color: #232328;
  margin: 0;

  &--lg {
    font-size: 48px;
  }
  &--md {
    font-size: 36px;
    line-height: 50px;
  }
  &--sm {
    font-size: 21px;
    line-height: 30px;
  }
}

.paragraph {
  margin: 0;
  color: #444;
}

.link {
  text-decoration: none;
  color: #2e77ff;
  font-size: 17px;
  line-height: 35px;
  transition: .3s;
  &:hover {
    color: #f4b930;
  }
}

.button {
  border: 1px solid #fff;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  color: #fff;
  padding: 14px 45px;
  border-radius: 5px;
  display: inline-block;
  font-size: 19px;
  line-height: 35px;
  transition: background-color .3s, border-color .3s;

  &:hover {
    background-color: #f4b930;
    border-color: #f4b930;
    color: #fff;
  }

  &__color {
    &--yellow {
      background-color: #f4b930;
      border-color: #f4b930;

      &:hover {
        background-color: #2e77ff;
        border-color: #2e77ff;
      }
    }
    &--blue {
      background-color: #2e77ff;
      border-color: #2e77ff;

      &:hover {
        background-color: #f4b930;
        border-color: #f4b930;
      }
    }
  }
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 33px;
  &-item {
    padding-left: 26px;
    position: relative;
    &:before {
    width: 5px;
    height: 5px;
    position: absolute;
    background: #232328;
    border-radius: 50%;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    }
  }
}
.faq-contact__wrap {
  position: relative;
  overflow: hidden;
  background-image: -webkit-linear-gradient(150deg,#189bfb 0%,#000b7f 100%);
  &:before {
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 103%;
    height: 25%;
    z-index: 1;
    transform: scale(1.6) rotate(-7deg);
  }
}